<div class="card-header"><img src="../../assets/icons/vendor.svg" width="20pt"></div>
<div class="jumbotron">
  <div class="form-group">
      <label for="search">Search Supplier :</label>
      <input type="text" [(ngModel)]="supplierSearchText" class="form-control form-control-sm" id="search">
  </div>
  <br/>
  <button (click)="searchSupplier()" type="button" class="btn btn-success">Search</button>&nbsp;
  <button (click)="openNewSupplier()" type="button" class="btn btn-primary">New Supplier</button>
</div>
