.jumbotron{
    margin: 0.5em;
    padding: 1.5em;
}

label{
    font-weight: bold;
}

.card-header{
    height: 20pt;
    padding-top: 0;
    padding-left: 0.5em;
    font-weight: bold;
    color: tomato;
}