<div class="card-header"><img src="../../assets/icons/vendor.svg" width="20pt"></div>
<div class="jumbotron">
  <div class="form-group">
      <label for="code">Code :</label>
      <input type="text" [(ngModel)]="supplier.code" class="form-control form-control-sm" id="code">
  </div>
  <div class="form-group">
      <label for="name">Name :</label>
      <input type="text" [(ngModel)]="supplier.name" class="form-control form-control-sm" id="name">
  </div>

  <div class="form-check" style="padding-bottom: 0.75em;">
    <label class="form-check-label" style="color: red;" *ngIf="supplier.isBlocked">
        <input type="checkbox" [(ngModel)]="supplier.isBlocked" class="form-check-input" value="">Supplier Blocked
    </label>
    <label class="form-check-label" *ngIf="!supplier.isBlocked">
        <input type="checkbox" [(ngModel)]="supplier.isBlocked" class="form-check-input" value="">Supplier Blocked
    </label>
  </div>

  <div class="form-group">
      <label for="contactNo">Contact No :</label>
      <input type="text" [(ngModel)]="supplier.contactNo" class="form-control form-control-sm" id="contactNo">
  </div>
  <div class="form-group">
      <label for="address">Address :</label>
      <input type="text" [(ngModel)]="supplier.address" class="form-control form-control-sm" id="address">
  </div>
  <div class="form-group">
      <label for="remarks">Remarks :</label>
      <input type="text" [(ngModel)]="supplier.remarks" class="form-control form-control-sm" id="remarks">
  </div>
    
  <button (click)="tryCreateSupplier()" type="button" class="btn btn-success">Create Supplier</button>&nbsp;
  <button (click)="goBack()" type="button" class="btn btn-danger">Cancel</button>
</div>
