<div class="card-header"><img src="../../assets/icons/item.svg" width="20pt"></div>
<div class="jumbotron">
  <div class="form-group">
      <label for="code">Code :</label>
      <input type="text" [(ngModel)]="item.code" class="form-control form-control-sm" id="code">
  </div>
  <div class="form-group">
      <label for="name">Name :</label>
      <input type="text" [(ngModel)]="item.name" class="form-control form-control-sm" id="name">
  </div>

  <div class="form-group">
    <label for="category">Category :</label>
    <select class="form-control form-control-sm" [(ngModel)]="item.category" id="category">
      <option value="">Root</option>
      <option *ngFor="let category of this.categoryiesTreeItems" value="{{category.name}}">{{category.description}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="supplier">Supplier :</label>
    <select class="form-control form-control-sm" [(ngModel)]="item.supplier" id="supplier">
      <option value="">- Select -</option>
      <option *ngFor="let supplier of this.suppliers" value="{{supplier.code}}">{{supplier.code}} | {{supplier.name}}</option>
    </select>
  </div>

  <div class="form-check" style="padding-bottom: 0.75em;">
    <label class="form-check-label" style="color: red;" *ngIf="item.isBlocked">
        <input type="checkbox" [(ngModel)]="item.isBlocked" class="form-check-input" value="">Item Blocked
    </label>
    <label class="form-check-label" *ngIf="!item.isBlocked">
        <input type="checkbox" [(ngModel)]="item.isBlocked" class="form-check-input" value="">Item Blocked
    </label>
  </div>

  <div class="form-group">
    <label for="sellingPrice">Selling Price :</label>
    <input type="number" [(ngModel)]="item.sellingPrice" class="form-control form-control-sm" id="sellingPrice">
  </div>

  <div class="form-group">
      <label for="remarks">Remarks :</label>
      <input type="text" [(ngModel)]="item.remarks" class="form-control form-control-sm" id="remarks">
  </div>
    
  <button (click)="tryCreateItem()" type="button" class="btn btn-success">Create Item</button>&nbsp;
  <button (click)="goBack()" type="button" class="btn btn-danger">Cancel</button>
</div>

