<div class="card-header"><b><img src="../../../assets/icons/approved.png" width="30px"> Approve Purchase Requisition</b></div>

<!--Items-->
<table class="table table-bordered table-sm" style="margin-left: 20px;width: 98%;margin-top:10px;">
  <thead class="thead thead-dark sticky-header">
    <tr>
      <th style="width: 10%;">PR No</th>
      <th style="width: 40%;">Site</th>
      <th>Created By</th>
      <th>CreatedDate</th>
      <th>TotalValue</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pr of purchReqs">
      <td>{{pr.id}}</td>
      <td>{{pr.siteName}}</td>
      <td>{{pr.createdBy}}</td>
      <td>{{pr.createdDate}}</td>
      <td class="text-right">{{pr.totalValue}}</td>
      <td *ngIf="pr.overallStatus != 'Close'" class="text-center">
        <button type="button" (click)="showPurchReq(pr)" class="btn btn-info btn-sm" title="View purchase requisition"><i class="fas fa-edit"></i></button>
      </td>
      <td *ngIf="pr.overallStatus == 'Close'" class="text-center">
        <span class="badge badge-success">Approved</span>
      </td>
    </tr>
  </tbody>
</table>
